body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.head {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
    margin-bottom: 20px;
}
h2 {
    color: #35424a;
}
p {
    color: #333;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
.footi {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
i {
    color: #35424a;
    text-decoration: none;
}
i:hover {
    text-decoration: underline;
}