.navbar {
    overflow: hidden;
    background-color: #1f535f;
    position: relative;
}
a {
    color: #f5f4f4;  
    padding: 14px 16px;
    font-size: 19px;
    font-weight: 700;
    display: flex;
}
a:hover {
    background-color: #f06236;
    color: black;
}
a:active {
    background-color: #f5f4f4;
}   
@media only screen and (max-width: 628px) {
    #myLinks {
        display: none;
    }
    a.icon {
        background: black;
        display: block;
        padding: 14px 16px;
        position: absolute;
        right: 0;
        top: 0;
    }
}
@media only screen and (min-width: 628px) {
    .navbar a.icon {
        display: none;
    }
    .navbar #myLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }   
    #right {
        position: absolute;
        right: 0;
    }
}
body {
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f4f4;
    margin: 4px;
}